@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

:root {
  --dark-green: #099d02;
  --light-green: #23c686;
  --light-orange: #fc9d45;
  --matrix: #ac5b4d;
  --dirty-black: #1d3853;
  --dark-background: #010101;
  --dark-text: #ffffff;
}

body {
  font-family: "Poppins";
  margin: 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h1, h2, h3, h4 {
  font-family: "Geo";
  font-weight: bold;
  margin: 0;
  font-size: 1.8em;
}
p {
  color: #777;
}

/* layout style */
/* .container{
  max-width: 1260px;
  margin: 40px auto;
  padding: 10px;
} */